/* You can add global styles to this file, and also import other style files */
$bugColor:rgba(214, 50, 15, 0.8);
$linkColor : blanchedalmond;


html,body{
    height: 100%;
    overflow: hidden;
}

.btn-secondary{
    background-color:rgb(99, 108, 114);
}
.btn-outline-secondary{
    border-color:rgb(99, 108, 114);
    color: rgb(99, 108, 114);
    &:hover{
        background-color:rgb(99, 108, 114);
    }
}
.row{
    margin: 0px;
}

@media (max-width: 544px) {
    .left-sm-right-md-up {
       float: left;
     }
   }
   
@media (min-width: 768px ) {
    .left-sm-right-md-up {
       float: right;
     }
}