@import  "../../../styles";
.login-container{
    width: 100%;
    height: calc(100% - 120px);
    background-color: $bugColor;
    position: relative;
    .row{
        height: 100%;
        .login-form{
            h3{
                padding-bottom: 10px;
            }
           min-width: 300px;
           max-width: 500px;
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           .input-group{
               padding-bottom: 10px;
               span{
                   width:40px;
               }
           }
        }
    }
   
}