.editor{
        margin-bottom: 60px;
        margin-top:10px;
        min-height: 200px;
}
.card{
        padding-bottom: 50px;
        margin-bottom: 5px;
}
.container-fluid{
        height: calc(100% - 210px);
        overflow: auto;
        padding:0px;
}
