<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><i class="fa fa-bug"></i> BugTracker</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"><i class="fa fa-home"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link3</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0 user-settings">
        <span><i class="fa fa-cog"></i></span>
        <span><img src="../../assets/user.png" class="user-image"/></span>
      </div>
    </div>
  </nav>
  <div class="jumbotron jumbotron-fluid" >
      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <h1 class="display-3"> <i class="fa fa-group"></i> Organization Name/Project Name</h1>
        </div>
        <div class="col-lg-4 col-sm-12">
          <form class="form">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" aria-describedby="basic-addon2">
              <button type="submit" class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></button>
            </div>
          </form>
        </div>
        <div class="col-lg-4 col-sm-12 text-center">
          <button class="btn  btn-outline-danger btn-sm"><span class="badge badge-danger">89</span>Critical Bugs</button>
          <button class="btn  btn-outline-primary btn-sm">Major Bugs</button>
          <button class="btn  btn-outline-info btn-sm">Minor Bugs</button>
          <button class="btn  btn-outline-success btn-sm">Fixed Bugs</button>
          <button class="btn  btn-outline-secondary btn-sm">Total Bugs</button>
        </div>
      </div>
    </div>