@import '../../../styles.scss';
nav{
    background-color : $bugColor;
    min-height: 60px;
    ul{
        li >a{
            color: $linkColor;
        }
       
    }
    .user-settings{
        span{
            padding:0px 10px;
            font-size:1.75rem
        }
        .user-image{
            width: 40px;
        }
    }
   
    
}
.jumbotron{
    width:100%;
    padding: 10px;
    h1{
        font-size: 1.25rem;
        margin-top: 0.25em;
    }
    .badge{
        vertical-align:middle;
        margin-top: 0.5em;
    }
}
.container{
    min-width: 80%;
    .card{
        border-width: 5px;
    }   
}