<div class="card-header row">
    <div class="col-lg-4 col-sm-12">
      <label class="badge badge-danger"> <i class="fa fa-exclamation-triangle"></i> {{bugStats.openBugs.length}} Open</label>
      <label class="badge badge-success"><i class="fa fa-thumbs-up"></i> {{bugStats.closedBugs.length}} Closed</label>
    </div>
    <div class="col-sm-12 col-lg-8">
      <div class="left-sm-right-md-up clearfix">
        Sort: <span class="badge badge-default">Created Date <i class="fa fa-sort-amount-asc"></i></span> <span class="badge badge-default">Closed Date <i class="fa fa-sort-amount-asc"></i></span>
        <span class="badge badge-default" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa fa-filter"></i>
            </span>
        <div class="collapse filters" id="collapseExample">
          <div class="card card-block">
            Filter By Status, Assigned To, Date Range Created, Date Range Closed
            <button class="btn btn-outline-succes" type="button">Apply</button>
          </div>
        </div>
      </div>
    </div>
  </div>